@import '/src/style/Color.scss';

#view-contents {
    overflow-x: hidden;
    position: relative;

    #view-beginning {
        display: flex;
        justify-content: center;
        margin-top: 110px;

        >div {
            >h1 {
                font-size: 50px;
                color: $brown;
                font-family: 'NanumSquare EB';
                line-height: 125%;
            }

            >h2 {
                font-size: 35px;
                color: $brown;
                font-family: 'NanumSquareR';
                font-weight: 900;
                margin-top: 50px;
            }

            >div {
                width: 1326px;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                height: 620px;
                padding: 0 110px;
                box-sizing: border-box;
                position: relative;
                margin-top: 60px;

                >div {
                    display: flex;
                    justify-content: space-between;

                    #view-beginning-title {
                        margin-top: 130px;

                        >h2 {
                            font-size: 50px;
                            font-weight: 600;
                            font-family: 'NanumSquare EB';
                            line-height: 125%;
                        }

                        >h3 {
                            font-size: 30px;
                            font-family: 'NanumSquare EB';
                            margin-top: 60px;
                            line-height: 125%;
                        }
                    }

                    >ul {
                        margin-top: 75px;
                        height: 382px;
                        width: 580px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        column-gap: 20px;
                        row-gap: 22px;

                        >li {
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            padding-top: 30px;
                            box-sizing: border-box;
                            align-items: center;
                            background-color: $light-brown-2;
                            border-radius: 10px;
                            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

                            &:first-child {
                                padding-top: 40px;
                            }

                            >div {
                                position: absolute;
                                bottom: 24px;
                                font-size: 20px;
                                font-weight: 600;
                                font-family: 'NanumSquare EB';
                            }
                        }
                    }
                }

                >button {
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 25%;
                    height: 70px;
                    border: none;
                    border-radius: 10px;
                    background-color: $light-orage;
                    color: white;
                    font-family: 'NanumSquare EB';
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }

    #view-introduce {
        width: 75%;
        position: relative;
        display: grid;
        row-gap: 80px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 150px auto 0;

        >div {
            color: $brown;
            font-family: 'NanumSquare EB';

            &#introduce1-explanation {
                font-size: 40px;
                align-self: center;
                text-align: center;
                line-height: 125%;
            }

            &#introduce2-explanation {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                > div:nth-child(1) {
                    font-size: 36px;
                    margin-bottom: 80px;
                }
    
                > div:nth-child(2) {
                    font-size: 50px;
                    line-height: 125%;
                }
            }
        }
        > img:last-child {
            grid-column: 1 / 3;
        }
    }

    #view-book-report {
        margin-top: 215px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        >div {
            >h1 {
                font-size: 50px;
                font-family: 'NanumSquare EB';
                text-align: right;
                color: $brown;
            }

            >h2 {
                font-size: 32px;
                font-family: 'NanumSquare EB';
                text-align: right;
                color: $brown;
                margin-top: 35px;
            }

            >div {
                display: flex;
                width: min-content;
                margin-top: 60px;

                >img {
                    border-radius: 5px;
                }

                >div {
                    margin-left: 38px;
                    font-family: 'NanumSquare EB';
                    >h3 {
                        font-size: 20px;
                        color: $dark-gray;
                        width: 340px;
                    }

                    >div {
                        margin-top: 60px;
                        display: flex;

                        #view-vertical-line {
                            width: 1px;
                            height: 50px;
                            background-color: $gray-1;
                            margin-right: 22px;
                        }

                        >div:last-child {
                            >h1 {
                                font-size: 34px;
                                margin-bottom: 10px;
                            }

                            >h2 {
                                text-align: right;
                                font-size: 22px;
                                color: $gray-1;
                            }
                        }
                    }
                }
            }
        }
    }

    #view-event {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'NanumSquare EB';
        color: $brown;

        >h1 {
            font-size: 50px;
        }

        >h2 {
            margin-top: 40px;
            font-size: 36px;
        }

        >img {
            margin-top: 80px;
        }
    }
}