@import '/src/style/Color.scss';

#view-contents {
    position: relative;
    #view-beginning {
        padding: 110px 105px 0;
        box-sizing: border-box;
        > h1 {
            font-size: 50px;
            color: $brown;
            font-family: 'BM Dohyeon';
        }
        > h2 {
            font-size: 35px;
            color: $brown;
            font-family: 'BM Dohyeon';
            margin-top: 50px;
        }
        > div {
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            height: 700px;
            padding: 0 110px;
            box-sizing: border-box;
            position: relative;
            margin-top: 80px;

            > div {
                display: flex;
                justify-content: space-between;
                #view-beginning-title {
                    margin-top: 130px;
                    > h2 {
                        font-size: 50px;
                        font-weight: 600;
                        font-family: 'Blinker';
                    }
                    > h3 {
                        font-size: 30px;
                        font-family: 'Blinker';
                        margin-top: 60px;
                    }
                }
                > ul {
                    margin-top: 75px;
                    height: 382px;
                    width: 580px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    column-gap: 20px;
                    row-gap: 22px;

                    > li {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        padding-top: 30px;
                        box-sizing: border-box;
                        align-items: center;
                        background-color: $light-brown-2;
                        border-radius: 10px;
                        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

                        &:first-child {
                            padding-top: 40px;
                        }
                        > div {
                            position: absolute;
                            bottom: 24px;
                            font-size: 20px;
                            font-weight: 600;
                            font-family: 'Blinker';
                        }
                    }
                }
            }
            > button {
                position: absolute;
                bottom: 90px;
                left: 50%;
                transform: translateX(-50%);
                width: 400px;
                height: 70px;
                border: none;
                border-radius: 10px;
                background-color: $light-orage;
                color: white;
                font-family: 'Blinker';
                font-weight: 700;
                font-size: 20px;
            }
        }
    }
    #view-introduce {
        width: 1300px;
        height: 1600px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 150px;

        > img {
            position: absolute;

            &:nth-child(2) {
                top: 515px;
                right: 62px;
            }
            &:nth-child(3) {
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
            }
        }
        > div {
            color: $brown;
            font-family: 'BM Dohyeon';
            position: absolute;

            &:nth-child(4) {
                right: 0;
                top: 170px;
                font-size: 40px;
                text-align: center;
            }
            &:nth-child(5) {
                top: 700px;
                font-size: 36px;
            }
            &:nth-child(6) {
                top: 830px;
                font-size: 50px;
            }
        }
    }
    #view-book-report {
        margin-top: 215px;
        padding: 0 105px;
        box-sizing: border-box;
        > h1 {
            font-size: 50px;
            font-family: 'BM Dohyeon';
            text-align: right;
            color: $brown;
        }
        > h2 {
            font-size: 32px;
            font-family: 'BM Dohyeon';
            text-align: right;
            color: $brown;
            margin-top: 35px;
        }
        > div {
            margin-top: 10px;
            display: flex;
            >img {
                border-radius: 5px;
            }

            >div {
                > h3 {
                    font-size: 10px;
                    color: $dark-gray;
                    width: 493px;
                }

                > div {
                    display: flex;
                    #view-vertical-line {
                        width: 1px;
                        height: 50px;
                        background-color: $gray-1;
                    }
    
                    > div:last-child {
                        > h2 {
                            text-align: right;
                            font-size: 10px;
                            color: $gray-1;
                        }
                    }
                }
            }
        }
    }
}