@import '/src/style/Color.scss';

#view-question {
    margin-top: 30px;
    font-family: 'BM Dohyeon';
    color: $brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    > h1 {
        font-size: 50px;
        @media (max-width:850px) {
            font-size: 33px;
        }
    }
    > ul {
        @media (max-width:850px) {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
        width: 600px;
        margin-top: 20px;
        margin-bottom: 300px;
        > li {
            margin-bottom: 5px;
            > input { display: none; }
            > input[type=checkbox]:checked ~ div {
                display: block;
            }
            > input[type=checkbox]:checked ~ label > img {
                transform: rotate(45deg);
            }
            > label {
                background-color: $light-brown-2;
                color: $brown;
                height: 86px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 30px;
                margin-bottom: 5px;
                > h2 {
                    font-family: 'BM Dohyeon';
                    font-size: 25px;
                    line-height: 30px;
                }
            }
            > div {
                background-color: $light-brown-2;
                display: none;
                color: $brown;
                font-family: 'Blinker';
                border-radius: 10px;
                padding: 30px;
                font-weight: bold;
            }
        }
    }
}