@import '/src/style/Color.scss';

#ai-book-title {
    margin-left: 110px;
    width: 580px;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    ::placeholder {
        color: $dark-gray;
    }
    > input {
        font-family: 'Blinker';
        font-weight: 400;
        font-size: 22px;
    }
    #ai-division-line {
        height: 3px;
        width: 100%;
        background-color: $light-gray-1;
        margin: 9px 0 12px;
    }
    > div:last-child {
        text-align: center;
        font-family: 'Blinker';
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 40px;
    }
}