@import '/src/style/Color.scss';

#home {
    overflow-x: hidden;
    background-color: $light-brown-3;
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 40px;
    padding-left: 5%;
    padding-right: -5%;
    #contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        padding-bottom: 90px;
        width: 100%;

        .content {
            .content-header {
                // font-family: 'NanumSquare EB';
                display: flex;
                align-items: center;
                font-size: 2.5vh;

                >img {
                    width: 10vw;
                    max-width: 55px;
                }

                >div{
                    font-family: 'NanumSquareR';
                    >h3{
                        >span{
                            font-family: 'NanumSquare EB';
                        }
                    }
                    >div{
                        margin-top: 3.5px;
                    }
                }

                >div {
                    margin-left: 9px;

                    >div {
                        color: $gray-1;
                    }
                }
            }

            .content-section {
                margin-top: 10px;
                width: 90%;

                >img {
                    border-radius: 5px;
                    width: 90%;
                }

                >div {
                    display: flex;
                    width: 100%;
                    margin-top: 2.8px;
                    .paragraph-cover {
                        width: 75%;
                        font-size: 0.9rem;
                        font-family: 'NanumSquareL';
                    }

                    .division-line {
                        width: 1px;
                        height: 50px;
                        background-color: $gray-1;
                        margin-right: 12px;
                        margin-left: 3px;
                    }

                    .book-info {
                        font-size: 0.8rem;
                        font-family: 'NanumSquareR';
                        .author,
                        .publish {
                            font-family: 'NanumSquareL';
                            text-align: right;
                            color: $gray-1;
                        }
                    }
                }
            }
        }
    }
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .book-info {
        font-size: 0.75rem;
        .author,
        .publish {
            text-align: right;
            color: $gray-1;
        }
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
    .book-info {
        font-size: 0.55rem;
        .author,
        .publish {
            text-align: right;
            color: $gray-1;
        }
    }
    #home{
        #contents {
            display: grid;
            grid-template-columns: 1fr;
            .content {
                .content-header {
                    // font-family: 'NanumSquare EB';
                    display: flex;
                    align-items: center;
                    font-size: 3.1vh;
                }
            }
        }
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    .book-info {
        font-size: 0.45rem;
        .author,
        .publish {
            text-align: right;
            color: $gray-1;
        }
    }
    #home{
        #contents {
            display: grid;
            grid-template-columns: 1fr;
            .content {
                .content-header {
                    // font-family: 'NanumSquare EB';
                    display: flex;
                    align-items: center;
                    font-size: 3.1vh;
                }
            }
        }
    }
}

