@import '/src/style/Color.scss';

header {
    display: flex;
    height: 76px;
    background-color: $light-brown-1;
    width: 100%;
    position: relative;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

    > #logo {
        position: absolute;
        left: 23px;
        top: 4px;
        width: min-content;
        text-align: center;
        color: $brown;
        > h1 {
            font-family: 'Blinker';
            font-size: 40px;
        }
        > h6 {
            margin-top: 2px;
            font-size: 12.5px;
            font-family: 'BM Dohyeon';
        }
    }
    ul {
        margin-left: 240px;
        width: 35.5%;
        min-width: 410px;
        align-self: center;
        display: flex;
        justify-content: space-between;

        li {
            display: flex;
            align-items: center;

            img {
                margin-right: 12px;
            }

            .notice{
                margin-top: 7.2px;
            }

            .write{
                margin-top: 3.75px;
            }
        }
    }
    > #header-profile-image {
        position: absolute;
        right: 20px;
        align-self: center;
    }
}
/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    header {
        display: flex;
    }
}
/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
    header {
        display: none;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    header {
        display: none;
    }
}