@import '/src/style/Color.scss';

.questions{
    h1{
        line-height: 135%;
    }
    div{
        line-height: 135%;
    }
}

#ai-survey-second {
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}