@import '/src/style/Color.scss';
#head-menu {
    table-layout: fixed;
    display: none;//미디어퀴리로 나중에 display:table
    position: fixed;
    bottom: 0;
    color: white;
    background: #32373c;
    border-bottom: 1px solid #e2e2e2;
    left: 0;
    /* Left edge at left for now */
    right: 0;
    /* Right edge at right for now, so full width */
    width: 100%;
    /* Give it the desired width */
    margin: auto;
    /* Center it */
    /* Make it fit window if under 500px */
    z-index: 10000;
    /* Whatever needed to force to front (1 might do) */

    >li {
        color: #FFF;
        padding: 10px;
        vertical-align: middle;
        display: table-cell;
        text-align: center;
    }
}